body{
	height: 100%;
}

.nav-text{
	font-weight: bold;
}

.header-bg{
	background-image: url("./images/bg.jpg");
	height: 100%;
	margin-top: -22px;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-me{
	height: auto;
	width: 60%;
	margin: 0px auto;
	text-align: center;
	line-height: 1.5em;
	padding-top: 4%;
	padding-bottom: 2%;
	font-size: 24px;
}

.about-icon{
	padding-right: 12px;
}

.text-center{
	text-align: center;
}

.about-content{
	font-family: 'Josefin Sans', sans-serif;
	color:#6f6f6f;
	height: auto;
	width: 60%;
	margin: 0px auto;
	padding-top: 2%;
	padding-bottom: 4%;
	text-align: justify;
	font-size: 24px;
}

a:link {
	text-decoration: none;
	color: #fff;
}

a:visited{
	text-decoration: none;	
	color: #fff;
}

a:hover{
	text-decoration: none;		
	color: #fff;
}

a:active{
	text-decoration: none;
	color: #fff;
}

.contact-design{
	background-color: #262525;
	color:#fff;
	width:100%;
	padding-bottom: 8%;
	height: auto;
	padding-top: 8%;
}

.contact-me{
	height: auto;
	line-height: 1.5em;
	margin:0px auto;
	width:60%;
	font-size: 24px;
}

.contact-text-design{
	font-size: 24px;
}

.contact-content-design{
	font-family: 'Courgette', cursive;
	font-size: 24px;
}

.footer-design{
	width:100%;
	padding-top: 4%;
	padding-bottom: 4%;
	color:#eff1f4;
	background-color: #262525;
}

.glyphicon .glyphicon-envelope{
	font-size: 70em !important;
}

.link-style{
	text-decoration:none;
	color:#fff;
}

.link-style:hover{
	text-decoration:none;
	color:#fff;
}

.social-icon{
	padding-top:6%;
	padding-bottom: 4%; 
}

.social-icon-design{     
	color: #fff !important;
	text-decoration:none;
	font-size: 24px; 
}

.social-icon-design-about{
	color: #6f6f6f !important;
	text-decoration: none;
	font-size: 24px;
	padding-bottom: 4%;
}

.logo{
	width:52px;
	float: left;
}

@media screen and (max-width: ) and (min-height: )  {
	.about-me	{
		height: auto;
		width: 80%;
		text-align: justify;
	}
}