body{
	height: 100%;
}

.nav-text{
	font-weight: bold;
}

.header-bg{
	background-image: url("./images/bg.jpg");
	height: 100%;
	margin-top: -22px;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-me{
	height: 100%;
	width: 80%;
	margin: 0px auto;
	text-align: center;
	line-height: 1.5em;
	padding-top: 8%;
	padding-bottom: 8%;
	font-size: 24px;
}

.about-icon{
	padding-right: 12px;
}

.about-text{
}

.text-center{
	text-align: center;
}

.about-content{
	font-family: 'Josefin Sans', sans-serif;
	color:#6f6f6f;
	padding-top: 4%;
}

a:link {
	text-decoration: none;
}

a:visited{
	text-decoration: none;	
}

a:hover{
	text-decoration: none;		
}

a:active{
	text-decoration: none;
}

.contact-design{
	background-color: #262525;
	color:#fff;
	width:100%;
	padding-bottom: 8%;
	height: 60%;
	padding-top: 8%;
}

.contact-me{
	height: 100%;
	padding-bottom: 8%;
	line-height: 1.5em;
	margin:0px auto;
	width:60%;
}

.contact-text-design{
	font-size: 24px;
}

.contact-content-design{
	font-family: 'Courgette', cursive;
	font-size: 24px;
}

.footer-design{
	width:100%;
	height: 5%;
	color:#6f6f6f;
	padding-top: 5%;
	padding-bottom: 5%;
}

.glyphicon .glyphicon-envelope{
	font-size: 70px !important;
}